body {
  font-family: "Poppins", sans-serif;
  background-color: #5077b1;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/mt-rainier.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px 0;
  text-align: center;
}
header h1 {
  font-weight: 700;
  line-height: 1.5;
  font-size: 96px;
  margin: 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
  border-radius: 2px;
  transition: all 200ms ease-in-out;
}
header a:hover {
  background-color: #7e606686;
  transform: scale(1.05);
  color: white;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
}
main img {
  width: 100%;
  height: auto;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #282d5e;
  opacity: 0.3;
  text-transform: uppercase;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #282d5e;
  margin: 0;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #282d5e;
  opacity: 0.7;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/dt-tacoma.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

footer div {
  padding: 0 40px;
}
footer a {
  color: white;
  cursor: pointer;
  opacity: 0.7;
  transition: all 200ms ease-in-out;
}

footer a:hover {
  opacity: 1;
  transform: scale(1.03);
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  margin-right: 20px;
  line-height: 24px;
}
.section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 0;
}
.main-section {
  padding: 0 30px;
}
.links {
  display: flex;
  flex-direction: column;
}

@media (max-width: 960px) {
  .section {
    padding: 30px;
  }
  header h1 {
    font-size: 48px;
  }
  header h2,
  main h3 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    font-size: 12px;
    padding: 12px 24px;
  }
  footer,
  main {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .main-section {
    padding: 0;
  }
}
